<h1>Welcome Back To Imbibe And Vibe!</h1>
<h2>You will NEVER drink alone because someone somewhere is drinking too!</h2>

<form method="POST" action="/login">
  Email: <input type="text" name="email"/><br/>
  Password: <input type="password" name="password"/><br/>
  <input type="submit">
</form>

<h2>Don't Have An Account? <a href="/users/signup">Create One Here!</a></h2>