<h1>Welcome To Imbibe And Vibe!</h1>
<h2>There's Song For Every Drink And A Drink For Every Occasion!!<a href="/imbibes/new"></a>Let's Raise A Glass!</h2>

<h2>I Don't Always Imbibe, When I Do...It's Also A Vibe! <a href="/imbibes/new">Imbibe &amp; Vibe Now</a></h2>

<h2>Remember The Good Times!</h2>
<ul>
<% @imbibes.each do |imbibe| %>

  <li><a href="imbibes/<%=imbibe.id%>"><%=imbibe.drink%>, <%= imbibe.vibe.song %>, <%=imbibe.toast_headline%> </a></li>
<% end %>
</ul>