<h1>Shall We Imbibe?</h1>

<form method="POST" action="/imbibes">
  
  <select name="vibe_id">
   <% @vibes.each do |vibe| %>
      <option value="<%=vibe.id%>"><%=vibe.artist%>, <%= vibe.song %></option>
    <% end %>
  </select><br />


  What's In The Glass?<textarea name="drink"></textarea><br />
  What's The Occasion?<input type="text" name="toast_headline"><br />
  Say More!<textarea name="toast_body"></textarea><br />
  
  <input type="submit">
</form>

